* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: rgb(5, 22, 2);
    font-family: 'poppins', sans-serif;
}

.body.overflow {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 1px 0 20px rgb(1, 26, 1);
}

.logo {
    letter-spacing: -3px;
}

.header .logo span:first-child {
    color: rgb(6, 185, 6);
}

.header .logo span:last-child {
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}

.navbar {
    display: flex;
    align-items: center;
}

.menu, .submenu {
    list-style: none;
}

.menu a, .submenu a {
    text-decoration: none;
    color: white;
    padding: 17px;
    font-size: 14px;
    display: block;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
}

.menu li a {
    transition: 0.3s;
}

.menu li:hover a {
    background: rgb(6, 185, 6);
}

.menu li:hover > .submenu {
    visibility: visible;
    opacity: 1;
}

.menu .submenu li:hover > a {
    background: rgb(6, 70, 6);
}

.submenu .submenu {
    position: absolute;
    top: 0;
    left: 100%;
}

.submenu .submenu li:hover > a {
    background: green;
}

.submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    min-width: 110%;
    transition: 0.1s;
}

.barras-menu-menor.abrir {
    display: none;
}

.barras-menu-menor .barras {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 40px;
    cursor: pointer;
}

.barras-menu-menor .barras:hover .barra1 {
    width: 18px;
    margin-left: 50%;
}

.barras-menu-menor .barras:hover .barra2 {
    width: 19px;
}

.barras-menu-menor .barras:hover .barra3 {
    width: 21px;
    margin-left: 50%;
}

.barras-menu-menor .barras .barra {
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 3px;
    border-radius: 5px;
    transition-duration: 200ms;
}

.nav-menu-menor {
    position: fixed;
    z-index: 2;
}

.menu-menor {
    position: fixed;
    right: 0;
    width: 200px;
    background: black;
    text-align: end;
}

.menu-menor-opacity {
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 101vh;
    opacity: 0.7;
}

a {
    text-decoration: none;
}

.menu-menor-list .home:first-child, .menu-menor-list .quem-somos:nth-child(2), .menu-menor-list .produtos:nth-child(3), .menu-menor-list .social:nth-child(4), .menu-menor-list .contato:last-child {
    border: 1px solid rgb(1, 14, 0);
}

.menu-menor-list .submenu-menor .consoles:last-child {
    border: 3px solid rgb(0 147 0);
}

.menu-menor-list li a {
    background-color: rgb(0 86 0);
    color: white;
    font-size: 17px;
    display: block;
    width: 100%;
    text-align: start;
    padding: 3.5px 0px 3.5px 10px;
    border: 1px solid rgb(0 86 0);
}

.menu-menor-list .submenu-menor li a {
    background-color: rgb(0 108 0);
    padding-left: 30px;
}

.menu-menor-list .submenu-menor .submenu-menor li a {
    background-color:rgb(0, 133, 0);
    padding-left: 70px;
}

.menu-menor-list, .submenu-menor {
    list-style: none;
}

.barras-menu-menor.dentro {
    margin: 13px 0 12px 5px;
}

.barras-menu-menor.dentro .barras .barra1 {
    width: 18px;
    margin-left: 50%;
}

.barras-menu-menor.dentro .barras .barra2 {
    width: 19px;
}

.barras-menu-menor.dentro .barras .barra3 {
    width: 21px;
    margin-left: 50%;
}

.barras-menu-menor.dentro .barras:hover .barra {
    width: 40px;
    margin: 0px;
}

.menu-menor.fechar, .menu-menor-opacity.fechar {
    display: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    background: green;
    width: 80%;
    min-height: 567px;
    display: inline-block;
    margin: 90px auto 0px;
    padding: 35px;
    border-radius: 35px 160px 0 0
}

.content h1 {
    margin-bottom: 15px;
    text-shadow: 1px 2px 1px black;
}

.computadores-vender {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
}

.computadores-vender > div {
    border: 5px solid rgb(5, 22, 2);
    margin: 30px;
    background: #fffdfe;
    width: 240px;
    height: 467px;
}

.computadores-vender div .img {
    width: 230px;
    height: 237px;
    display: flex;
    align-items: center;
}

.computadores-vender div img{
    width: 230px;
    padding: 10px;
}

.computadores-vender div p:nth-child(2){
    color: black;
    text-align: justify;
    padding: 15px 15px 5px;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.computadores-vender div p:nth-child(3) {
    color: green;
    font-weight: bolder;
    font-size: 18px;
    margin-left: 15px;
}

.computadores-vender div p:nth-child(4) {
   font-weight: lighter;
   color: rgb(119, 119, 119);
   margin: -10px 0 5px 15px;
}

.computadores-vender div button {
    display: flex;
    align-items: center;
    justify-content: center;;
    background: green;
    color: white;
    width: 200px;
    height: 50px;
    margin: 0 15px;
    border: none;
    border-radius: 5px;
}